* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/***Buttons***/
.hb_btn {
  border-radius: 20px;
  padding: 7px 1px;
  color: #fff;
  border: none;
}

.hb_btn a {
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  padding: 5px 8px;
  margin: 1px;
}

.hb_btn-red-link {
  background-color: #cd3d0f;
}

.hb_btn-grey-link {
  background-color: #3a3a3a;
}

.hb_btn-blue-link {
  background-color: #2760e5;
}

.hb_btn-trs-link {
  background-color: #d9dadc;
}

.hb_btn-link {
  border: 2px solid rgba(255, 255, 255, 0);
  transition: all 0.3s;
}

.hb_btn-red {
  background-color: #cd3d0f;
}

.hb_btn-grey {
  background-color: #3a3a3a;
}

.hb_btn-blue {
  background-color: #2760e5;
}

.hb_btn-trs {
  background-color: #d9dadc;
}

.hb_btn-white {
  background-color: #fff;
}

.hb_btn-white a {
  color: #000;
}

.hb_btn-white-link {
  background-color: #fff;
}

.hb_btn-trs a {
  color: #2760e5;
}

.hb_btn-link:hover {
  border: 2px solid #fff;
  opacity: 0.9;
}

.hb_btn-red-link:hover,
.hb_btn-white-link:hover {
  border: 2px solid #000;
}

.hb_btn-red:hover {
  opacity: 0.9;
}

/****************
    HEADER
****************/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/***Logo Sony***/
.hb_logo-sony {
  background-color: #000;
}

.hb_logo-sony img {
  width: 80px;
}
/***Navigation***/
.hb_lens {
  width: 25px;
  cursor: pointer;
  object-fit: contain;
}

.hb_lens:hover {
  filter: invert(30%) sepia(87%) saturate(1324%) hue-rotate(185deg) brightness(101%) contrast(93%);
}

nav .nav-link {
  color: #000 !important;
}

nav .nav-link:hover {
  color: #0d79d0 !important;
}

nav .navbar-nav .nav-link.show {
  color: #0d79d0 !important;
}

.dropdown-toggle::after {
  display: none;
}

.nav-link:hover .hb_chevron-down {
  color: #0d79d0;
}

.hb_chevron-down,
.hb_chevron-up {
  color: grey;
  font-size: 12px;
}

.hb_chevron-up {
  display: none;
}

.navbar-nav .show .hb_chevron-down {
  display: none;
}

.navbar-nav .show .hb_chevron-up {
  display: inline-block;
  color: #0d79d0;
}

.dropdown-menu {
  width: 100vw;
  position: absolute;
  border: none;
}

.hb_nav-img-console {
  width: 100px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  margin: 5px;
}

.hb_nav-img-console:hover {
  -webkit-box-shadow: -1px 1px 15px 3px rgba(0, 0, 0, 0.63);
  box-shadow: -1px 1px 15px 3px rgba(0, 0, 0, 0.63);
}

.hb_nav-img-console img {
  width: 60px;
  height: 60px;
}

.hb_nav-link-console li {
  list-style: disc;
  color: #0d79d0;
  margin: 0px 15px;
}

.hb_nav-link-console a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.hb_nav-link-console a:hover {
  color: #0d79d0;
}

.hb_search-border {
  border: 1px solid #000;
  max-width: 350px;
}

.hb_search-border input:focus {
  outline: none;
}

.hb_icon-menu {
  width: 40px;
}

/****************
    MAIN
****************/
/***Jumbo***/
.jumbo-1 {
  height: 600px;
}

.jumbo h2 {
  font-size: 38px;
}

#jumbo-1 {
  background: url("../img/jumbo-bg.png") no-repeat center;
  background-size: cover;
  margin-top: 110px;
}

.jumbo img {
  width: 250px;
}

/***Games***/
.hb_games-box {
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.hb_games-box:hover {
  transform: translateY(-10px);
  -webkit-box-shadow: 0px 24px 24px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 24px 24px -5px rgba(0, 0, 0, 0.5);
}

.hb_games-box.active {
  border: 2px solid #006dcc;
}

.hb_games-box img {
  border-radius: 20px;
  padding: 2px;
}

/***Playstation 5***/
.hb_accessori-box {
  height: 150px;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s;
}

.hb_accessori-box:hover {
  opacity: 1;
}

.hb_accessori-box:first-of-type {
  border-bottom: 2px solid #0d79d0;
  opacity: 1;
}

.hb_accessori img {
  width: 100px;
}

/***Jumbo 2***/
#jumbo-2 {
  background: url("../img/it-takes-two-hero-banner-desktop.jpg") no-repeat center;
  background-size: cover;
  padding-top: 100px;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
}

/***Nuove Uscite***/
#nuove-uscite {
  background-color: #1f1f1f;
}

#nuove-uscite img {
  border-radius: 20px;
}

.hb_new-release {
  cursor: pointer;
  transition: all 0.3s;
}

.hb_new-release:hover {
  cursor: pointer;
  transform: scale(1.03);
}

/***Jumbo 3***/
#jumbo-3 {
  background-color: #bebcbb;
}

#jumbo-3 .hb_plus-img,
#jumbo-4 .hb_plus-img {
  width: 300px;
}

/***Jumbo 4***/
#jumbo-4 {
  background-color: #161c3b;
}

/****************
    FOOTER
****************/
footer {
  background-color: #00439c;
}

.hb_footer-img {
  width: 100px;
  object-fit: none;
}

footer ul li {
  list-style: none;
  margin: 8px 0px;
}

footer li a {
  text-decoration: none;
  color: #fff;
}

footer li a:hover {
  color: #fff;
}

/****************
    MEDIA QUERIES
****************/
@media screen and (min-width: 992px) {
  /***Playstation 4***/
  .hb_play4-p {
    height: 50px;
  }

  .hb_search-border {
    border: none;
  }
}
